<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">ShowVotes</lang>
	</name>
	<author>
		<lang name="default">Stanislav Nevolin (Wizard), Lora_GT</lang>
	</author>
	<homepage>https://github.com/snevolin/showvotes</homepage>
	<version>0.4</version>
	<requires>
		<livestreet>1.0</livestreet>
		<plugins>
		</plugins>
	</requires>
	<description>
		<lang name="default">Shows list of voters for topic</lang>
		<lang name="russian">Показывает список голосовавших за топик</lang>
	</description>
</plugin>
